{% extends "dashboard/base.html" %}

{% block content %}
<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Daftar Artikel</h4>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'artikel_add' %}" >+ artikel</a>
              </div>
              <div class="card-body">
                <div class="toolbar">
                  <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Judul</th>
                      <th>Penulis</th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>No</th>
                      <th>Judul</th>
                      <th>Penulis</th>
                      <th class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for art in artikel  %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ art.judul }}</td>
                        <td>{{ art.author }}</td>
                        <td class="text-right">
                            <a href="{% url 'artikel_detail' art.id %}" class="btn btn-link btn-icon btn-success"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'artikel_update' art.id %}" class="btn btn-link btn-icon btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'artikel_delete' art.id %}" class="btn btn-danger btn-link btn-icon btn-sm" onclick="confirm('yakin ingin delete data');"><i class="fa fa-times"></i></a>
                        </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div><!-- end content-->
            </div><!--  end card  -->
          </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
      </div>
{% endblock content %}




{% block js %}
<script>
    $(document).ready(function() {
      $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }

      });

      var table = $('#datatable').DataTable();

      // Edit record
      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record
      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');
        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record
      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
    });
  </script>
{% endblock js %}