{% extends 'halaman/base.html' %}
{% load static  %}

{% block content %}
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
		<div class="container">
    		<div class="row">
        		<div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Me</h1>
                        <h4></h4>
                </div>
            </div>
        </div>
	</div>

	<div class="main main-raised">
		<div class="container">
            <div class="about-description text-center">
                <div class="row">
    				<div class="col-md-8 col-md-offset-2">
    					<h5 class="description"></h5>
    				</div>
    			</div>
            </div>
            <div class="about-team team-1">
    			<div class="row">
    				<div class="col-md-8 col-md-offset-2 text-center">
    					<h2 class="title">Saya Adalah  Seorang Mahasiswa</h2>
    					<h5 class="description">Nama Saya Dicky Adhitya Syahputra, seorang mahasiswa Universitas Muhammadiyah Kalimantan Timur,</h5>
    				</div>
    			</div>

    			<div class="row">
    				<div class="col-md-3">
    					<div class="card card-profile card-plain">
    						<div class="card-avatar">
    							<a href="#pablo">
    								<img class="img" src="{% static 'halaman/assets/img/faces/marc.jpg' %}" /></a>
    						</div>

    						<div class="card-content">
    							<h4 class="card-title">Dicky Adhitya Syahputra</h4>
    							<h6 class="category text-muted">Author</h6>

    							<p class="card-description">
    								Dickyadhitya2004@gmail.com.
    							</p>
    							<div class="footer">
    								<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
    								<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
    								<a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
            </div>
        </div>
    </div>
{% endblock content %}