{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">Contact</h1>
                <h4></h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="container">
            <h2 class="title">Send me a message</h2>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Temukan Saya Di</h4>
                                <p>JLN.A.Yani. GG. Melati Handil 2,<br>Kalimantan Timur,<br>Indonesia</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Kontak Saya DI</h4>
                                <p>Dicky Adhitya<br>0895341779896<br>Senin - Jumat, 8:00-22:00</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">business_center</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Informasi Legal</h4>
                                <p>Ky Team.<br>Dickyadhitya2004@gmail.com &middot; <br> &middot; EN8732ENGB2300099123<br>Bank &middot; BNI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
